@tailwind base;
@tailwind components;
@tailwind utilities;

.rotated-scale {
  transform-origin: bottom left;
  width: 100vh;
  height: 100vw;
  margin-top: -100vw;
  object-fit: cover;
}

#root {
  position: relative;
}
